/*styles.css*/

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.white {font-size: 16px;
color: #ffffffd3;
font-weight: 500;
width: 400px;}

.header, .headertwo, .footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
    color: white;
    
   
}

.logo {
     font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
   
}


.links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}

#main { font-size: 42px;
    font-weight: 900;
    color: #f9faf8;
    width: 400px;
  
   
   
}

.headertwo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
     padding-bottom: 100px;
     padding-top: 100px;
}

.containter {
    display: flex;
    align-items: center;
    justify-content: center;
  

}


img {width: 500px;
    height: auto;
    padding: 20px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 6px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600px;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}


.heading {
 display: flex;
 justify-content: center;
 align-items: center;
font-size: 36px;
color: black;
font-weight: 800;
margin-top: 60px;

}

.box {
    max-width: 400px;
    padding-bottom: 100px;
}

.info {
    display: flex;
    justify-content: center;
    gap:100px;
}


.grey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 80px;
    
}

.quote {
    max-width: 800px ;
    font-size: 36px;
    font-style: italic;
    color: #1f2937; 
}

.ref {
    font-weight: bold;
    margin-left: 500px;
}

.bot {display: flex;
justify-content: center;
align-items: center;
background-color: #3882f6;
padding: 40px 20px;
margin: 80px 600px;
border-radius: 12px;
gap: 150px;
}

.small {display: flex;
flex-direction: column;}

.action {
    font-size: 26px ;
    font-weight: bold;
    color: white;
    margin-left: 0;
}

#button2 {
    border-radius: 12px;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: bold;


}

ul {  list-style-type: none;}

a { text-decoration: none;}